* {
  margin: 0;
  padding: 0; }
  *::after, *::before {
    box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  min-block-size: 100vh;
  background-image: linear-gradient(to right bottom, var(--primary), var(--primary-dark));
  font-family: 'Open sans';
  font-weight: 400;
  line-height: 1.4; }

/*
COLORS

Primary: #eb2f64
Primary light: #ff3366
pimary dark: #ba265d

Grey light 1; #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

FONT SIZE

Base-font: 1.6rem -> 16px

*/
:root {
  --primary: #eb2f64;
  --primary-light: #ff245b;
  --primary-dark: #ba265d;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --drey-dark-3: #999;
  --base-font: 1.6rem; }

.container {
  max-inline-size: 120rem;
  min-block-size: 50rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: 0 2px 5px rgba(90, 90, 90, 0.323); }
  @media only screen and (max-width: 75em) {
    .container {
      max-inline-size: 1005%;
      inline-size: 100%;
      margin: 0; } }

.header {
  block-size: 7rem;
  background-color: #fff;
  font-size: 1.4rem;
  border-block-end: var(--grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-page {
  flex-grow: 1; }

.detail {
  background-color: var(--grey-light-1);
  border-block-end: 1px solid var(--grey-light-2);
  display: flex;
  padding: 4.5rem; }
  .detail .description {
    background-color: #fff;
    font-size: 1.4rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    flex: 0 0 60%;
    margin-inline-end: 4.5rem;
    padding: 3rem; }
  .detail .user-reviews {
    flex: 1; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.logo {
  block-size: 3.25rem;
  margin-inline-start: 2rem; }

.btn-inline {
  background-color: transparent;
  color: var(--primary);
  font-size: inherit;
  display: inline-block;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transition: all 250ms span;
    transition-margin-inline-start: 3px;
    transition-transition: margin-left 250ms; }
  .btn-inline:hover {
    color: var(--grey-dark-1);
    animation: pulsate 750ms infinite; }
    .btn-inline:hover span {
      margin-inline-start: 8px; }
  .btn-inline:focus {
    outline: none; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    inline-size: 85%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    transition: all .2s;
    margin-inline-end: -3.25rem; }
    .search__input:focus {
      inline-size: 100%;
      background-color: var(--grey-light-3);
      outline: none; }
    .search__input::-webkit-input-placeholder {
      color: var(--grey-light-4);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--grey-light-3); }
  .search__button {
    background-color: var(--grey-light-2);
    border: none;
    margin-block-start: .2rem;
    cursor: pointer; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    block-size: 2rem;
    inline-size: 2rem;
    fill: var(--primary); }

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  cursor: pointer; }
  .user-nav > * {
    block-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem; }
  .user-nav > *:hover {
    background-color: var(--grey-light-2); }
  .user-nav__icon {
    block-size: 2.25rem;
    inline-size: 2.25rem;
    fill: var(--grey-dark-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__notification {
    block-size: 1.75rem;
    inline-size: 1.75rem;
    background-color: var(--primary);
    color: #fff;
    font-size: .8rem;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    block-size: 3.75rem;
    border-radius: 50%;
    background-color: var(--primary);
    margin-inline-end: 1rem; }
  .user-nav__user {
    display: flex;
    justify-content: center;
    align-items: center; }

.sidebar__copyright {
  color: var(--grey-light-4);
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .sidebar__copyright {
      display: none; } }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-block-start: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-block-end: .5rem; }
    .side-nav__item:hover::before {
      inline-size: 100%;
      transform: scaleY(1); }
    .side-nav__item:active::before {
      background-color: var(--primary-light); }
    .side-nav__item::before {
      inline-size: 3px;
      block-size: 100%;
      background-color: var(--primary);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform 250ms, width 300ms 250ms; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item--active::before {
    inline-size: 100%;
    transform: scaleY(1);
    background-color: var(--primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center; } }
  .side-nav__icon {
    inline-size: 1.75rem;
    block-size: 1.75rem;
    margin-inline-end: 2rem;
    fill: currentColor; }

.gallery {
  display: flex; }
  .gallery__img {
    inline-size: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-block-end: 1px solid var(--grey-light-2); }
  .overview__icon-star, .overview__icon-location {
    fill: var(--primary);
    inline-size: 1.75rem;
    block-size: 1.75rem; }
  .overview__icon-location {
    margin-inline-end: .5rem; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-inline-end: auto; }
  .overview__rating {
    background-color: var(--primary);
    color: #fff;
    margin-inline-start: 3rem;
    align-self: stretch;
    padding: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-block-end: -3px; }
    .overview__rating-count {
      font-size: .8rem;
      text-transform: uppercase; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }

.detail .paragraph:not(:last-of-type) {
  margin-block-end: 2rem; }

.detail .list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  display: flex;
  flex-wrap: wrap; }
  .detail .list__item {
    flex: 0 0 50%;
    margin-block-end: .7rem; }
    .detail .list__item::before {
      content: "";
      block-size: 1rem;
      inline-size: 1rem;
      display: inline-block;
      margin-inline-start: .7rem;
      background-color: var(--primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover; }

.detail .recommend {
  color: var(--grey-dark-3);
  font-size: 1.3rem;
  display: flex;
  align-items: center; }
  .detail .recommend__photo {
    block-size: 4rem;
    inline-size: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box; }
    .detail .recommend__photo:not(:last-child) {
      margin-inline-end: -1.5rem; }
  .detail .recommend__count {
    margin-inline-end: auto; }

.detail .review {
  background-color: #fff;
  box-shadow: var(--grey-light-1);
  padding: 3rem;
  margin-block-end: 3.5rem;
  position: relative;
  overflow: hidden; }
  .detail .review::before {
    content: "\201c";
    color: var(--grey-light-2);
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: 2; }
  .detail .review__text {
    margin-block-end: 2rem;
    z-index: 10;
    position: relative; }
  .detail .review__photo {
    block-size: 4.5rem;
    inline-size: 4.5rem;
    border-radius: 50%;
    margin-inline-end: 1.5rem; }
  .detail .review__user {
    display: flex;
    align-items: center; }
  .detail .review__user-box {
    margin-inline-end: auto; }
  .detail .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-end: .4rem; }
  .detail .review__user-date {
    font-size: 1rem;
    color: var(--grey-dark-3); }
  .detail .review__rating {
    color: var(--primary);
    font-size: 2.2rem; }

.detail .user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book-now {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-block-end: 2.5rem; }
  .cta .btn {
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    padding: 2rem 7.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden; }
    .cta .btn__visible {
      block-size: 100%;
      inline-size: 100%;
      display: inline-block;
      transition: all 250ms; }
    .cta .btn__invisible {
      block-size: 100%;
      inline-size: 100%;
      display: inline-block;
      position: absolute;
      top: -100%;
      left: 0;
      transition: all 250ms;
      display: flex;
      justify-content: center;
      align-items: center; }
    .cta .btn:focus {
      outline: none; }
    .cta .btn:hover .btn__invisible {
      top: 0; }
    .cta .btn:hover .btn__visible {
      transform: translateY(185%); }
