.logo {
    block-size: 3.25rem;
}
.search {
    &__icon {
        block-size: 2rem;
        inline-size: 2rem;
    }
}
.user-nav {
    &__icon {
        block-size: 2.25rem;
        inline-size: 2.25rem;
    }
}