.logo {
    block-size: 3.25rem;
    margin-inline-start: 3rem;
}
.search {
    flex: 0 0 40%;
    background-color: red;

    &__icon {
        block-size: 2rem;
        inline-size: 2rem;
    }
}
.user-nav {
    &__icon {
        block-size: 2.25rem;
        inline-size: 2.25rem;
    }

    &__user-photo {
        block-size: 3.75rem;
        border-radius: 50%;
        background-color: var(--primary);
    }
}