.logo {
    block-size: 3.25rem;
    margin-inline-start: 3rem;
}
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;;

    &__input {
        inline-size: 85%;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        transition: all .2s;
        margin-inline-end: -3.25rem;

        &:focus {
            inline-size: 100%;
            background-color: var(--grey-light-3);
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: var(--grey-light-4);
            font-weight: 100;
        }
    }

    &__input:focus + &__button {
        background-color: var(--grey-light-3);
    }

    &__button {
        background-color: var(--grey-light-2);
        border: none;
        margin-block-start: .2rem;;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        block-size: 2rem;
        inline-size: 2rem;
        fill: var(--primary);
    }
}
.user-nav {
    &__icon {
        block-size: 2.25rem;
        inline-size: 2.25rem;
    }

    &__user-photo {
        block-size: 3.75rem;
        border-radius: 50%;
        background-color: var(--primary);
    }
}