.container {
    max-inline-size: 120rem;
    min-block-size: 50rem;
    margin: 8rem auto;
    background-color: var(--grey-light-1);
    box-shadow: 0 2px 5px rgba(90, 90, 90, 0.323);
}
.header {
    block-size: 7rem;
    background-color: #fff;
    font-size: 1.4rem;
    border-block-end: var(--grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    display: flex;
}
.sidebar {
    background-color: var(--grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotel-page {
    block-size: 80rem;
    background-color: orangered;
    color: #fff;
    flex-grow: 1;
}