/*
COLORS

Primary: #eb2f64
Primary light: #ff3366
pimary dark: #ba265d

Grey light 1; #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

FONT SIZE

Base-font: 1.6rem -> 16px

*/
:root {
    --primary: #eb2f64;
    --primary-light: #ff245b;
    --primary-dark: #ba265d;

    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #f0eeee;
    --grey-light-4: #ccc;

    --grey-dark-1: #333;
    --grey-dark-2: #777;
    --drey-dark-3: #999;

    --base-font: 1.6rem;
}
